@font-face {
    font-family: 'StarRail';
    src: url('https://assets.hachimi2333.top/fonts/StarRail.woff2') format('woff2'),
        url('https://assets.hachimi2333.top/fonts/StarRail.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

