@font-face {
    font-family: 'StarRail';
    src: url('StarRail.woff2') format('woff2'),
        url('StarRail.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

